@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --tw-border-color: rgb(0 0 0 / 0.25);
        --tw-shadow-color-2: rgb(0 0 0 / 0.50);

        --tw-deftore: 210;
        --tw-habitore: 190;
        --tw-lidhore: 150;
        --tw-kushtore: 120;
        --tw-deshirore: 60;
        --tw-urdherore: 360;
        --tw-format-e-pashtjelluara: 240;
        --tw-zgjedhimi-e-forma: 90;
    }
}

@layer utilities {

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

    .text-shadow {
        text-shadow: 0px 0px 15px var(--tw-shadow-color);
    }

    .text-shadow-white {
        text-shadow: 0px 0px 15px var(--tw-shadow-color-2);
    }



    .border-u {
        @apply border-l border-r border-b border-[var(--tw-border-color)];
    }

    .border-n {
        @apply border-l border-r border-t border-[var(--tw-border-color)];
    }

   

    .menyra {
        --tw-ngjyra: hsl(var(--tw-mc), 100%, 15%);
        --tw-g-f: hsl(var(--tw-mc), 100%, 90%);
        --tw-g-t: hsl(var(--tw-mc), 100%, 95%);
        @apply p-3 my-5 text-[var(--tw-ngjyra)];
    }

    .menyra>div:nth-child(1) {
        @apply text-2xl px-2 py-1;
    }


    .menyra>div:nth-child(2)>div {
        @apply min-w-[21rem];
    }

    .menyra>div:nth-child(2)>div>div:nth-child(1) {
        @apply text-white text-shadow-white p-1 border-n rounded-tl-lg rounded-tr-lg bg-[var(--tw-ngjyra)];
    }

    .menyra>div:nth-child(2)>div>div:nth-child(2) {
        @apply grid grid-rows-3 grid-flow-col font-[500] border-u gap-3 p-3 rounded-bl-lg rounded-br-lg shadow-md text-shadow bg-gradient-to-b from-[var(--tw-g-f)] to-[var(--tw-g-t)] shadow-[var(--tw-g-t)];
    }

    .menyra>div:nth-child(2) {
        @apply grid sm:flex sm:flex-wrap gap-x-3 gap-y-5 text-center my-5;
    }



    .deftore {
        --tw-mc: var(--tw-deftore);
    }

    .habitore {
        --tw-mc: var(--tw-habitore);
    }
    
    .lidhore {
        --tw-mc: var(--tw-lidhore);
    }
    
    .kushtore {
        --tw-mc: var(--tw-kushtore);
    }

    .deshirore {
        --tw-mc: var(--tw-deshirore);
    }

    .urdherore {
        --tw-mc: var(--tw-urdherore);
    }

    .format-e-pazgjedhura{
        --tw-mc: var(--tw-format-e-pashtjelluara);
    }

    .zgjedhimi-e-forma{
        --tw-mc: var(--tw-zgjedhimi-e-forma);
    }

}