@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --tw-b-c: rgb(0 0 0 / 0.25);
        --tw-sh-c-2: rgb(0 0 0 / 0.50);

        
    }
}

@layer utilities {

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

    .text-shadow {
        text-shadow: 0px 0px 15px var(--tw-sh-c);
    }

    .text-shadow-white {
        text-shadow: 0px 0px 15px var(--tw-sh-c-2);
    }



    .border-u {
        @apply border-l border-r border-b border-[var(--tw-b-c)];
    }

    .border-n {
        @apply border-l border-r border-t border-[var(--tw-b-c)];
    }

   

    .menyra {
        --tw-ngjyra: hsl(var(--tw-mc), 100%, 15%);
        --tw-g-f: hsl(var(--tw-mc), 100%, 90%);
        --tw-g-t: hsl(var(--tw-mc), 100%, 95%);
        @apply p-3 my-3 text-[var(--tw-ngjyra)];
    }

    .menyra>div:nth-child(1) {
        @apply text-2xl px-2 py-1;
    }


    .menyra>div:nth-child(2)>div {
        @apply min-w-[21rem];
    }

    .menyra>div:nth-child(2)>div>div:nth-child(1) {
        @apply text-white text-shadow-white p-1 border-n rounded-tl-lg rounded-tr-lg bg-[var(--tw-ngjyra)];
    }

    .menyra>div:nth-child(2)>div>div:nth-child(2) {
        @apply grid grid-rows-3 grid-flow-col font-[500] border-u gap-3 p-3 rounded-bl-lg rounded-br-lg shadow-md text-shadow bg-gradient-to-b from-[var(--tw-g-f)] to-[var(--tw-g-t)] shadow-[var(--tw-g-t)];
    }

    .menyra>div:nth-child(2) {
        @apply grid sm:flex sm:flex-wrap gap-x-3 gap-y-5 text-center my-3;
    }



    .deftore {
        --tw-mc: 210;
    }

    .habitore {
        --tw-mc: 190;
    }
    
    .lidhore {
        --tw-mc: 150;
    }
    
    .kushtore {
        --tw-mc: 120;
    }

    .deshirore {
        --tw-mc: 60;
    }

    .urdherore {
        --tw-mc: 360;
    }

    .format-e-pazgjedhura{
        --tw-mc: 240;
    }

    .zgjedhimi-e-forma{
        --tw-mc: 90;
    }

    .menyra.perkufizimi {
        --tw-ngjyra: hsl(0, 0%, 15%); 
        --tw-g-f: hsl(0, 0%, 90%);
        --tw-g-t: hsl(0, 0%, 95%);
        @apply p-3 my-5 text-[var(--tw-ngjyra)];
    }

    .menyra.perkufizimi>div:nth-child(2) {
        @apply text-left;
    }

}